.samplefooter[data-aue-prop="textContent_text"] {
    -webkit-box-flex: 0;
    color: #072a79;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    font-family: "Mission Gothic Bold", Arial, Verdana, Tahoma, sans-serif;
    font-size: 1rem;
    font-weight: 460;
    line-height: 1rem;

    padding-bottom: 1.5rem;
}

.samplefooter[data-aue-prop="textContent_text"] ul {
    list-style: none; /* optional */
    padding: 0;
    margin: 0;
}

.samplefooter[data-aue-prop="textContent_text"] li {
    margin-bottom: 0.5rem;
}

.samplefooter[data-aue-prop="textContent_text"] a {
    color: #072a79;
    text-decoration: none;
    font-weight: 460;
}

