.headercomponent [ data-aue-prop="logo" ] {
        width: 24%;

}

.headercomponent > div {
    display: inline-block;
    margin-right: 20px; /* spacing between nav items */
    vertical-align: middle;
}

.headercomponent-wrapper {
    white-space: nowrap; /* prevents wrapping to the next line */
}

.headercomponent [ data-aue-prop="nav1_label" ] {
   font-weight: bold;
    
}
