.headercomponent [ data-aue-prop="logo" ] {
        width: 24%;
        margin-top: 22px;

}

.headercomponent > div {
    display: inline-block;
    margin-right: 20px;
    vertical-align: middle;
}

.headercomponent-wrapper {
    white-space: nowrap; 
}

.headercomponent [ data-aue-prop="nav1_label" ] {
   font-weight: bold;
    margin-left: -223px;
        font-family: Mission Gothic, Arial, Verdana, Tahoma, sans-serif;
    font-size: 0.9rem;
    width: 121px;
    
}
.headercomponent [ data-aue-prop="nav1_label" ]:hover {
    border-bottom: 2px solid rgb(221, 33, 33);
}

.headercomponent [ data-aue-prop="nav2_label" ] {
   font-weight: bold;
   margin-left: -95px;
    font-family: Mission Gothic, Arial, Verdana, Tahoma, sans-serif;
    font-size: 0.9rem;
    width: 70px;
    
}

.headercomponent [ data-aue-prop="nav2_label" ]:hover {
   border-bottom: 2px solid rgb(7, 42, 121);
}

.headercomponent [ data-aue-prop="nav3_label" ] {
   font-weight: bold;
  margin-left: -24px;
    font-family: Mission Gothic, Arial, Verdana, Tahoma, sans-serif;
    font-size: 0.9rem;
    
}
.headercomponent [ data-aue-prop="nav3_label" ]:hover {
    border-bottom: 2px solid rgb(53, 100, 113);
}
.headercomponent [ data-aue-prop="nav4_label" ] {
   font-weight: bold;
   
    font-family: Mission Gothic, Arial, Verdana, Tahoma, sans-serif;
    font-size: 0.9rem;
    
}
.headercomponent [ data-aue-prop="nav4_label" ]:hover {
    border-bottom: 2px solid rgb(32, 153, 74);
}

.headercomponent [ data-aue-prop="nav5_label" ] {
   font-weight: bold;

    font-family: Mission Gothic, Arial, Verdana, Tahoma, sans-serif;
    font-size: 0.9rem;
    
}

.headercomponent [ data-aue-prop="nav5_label" ]:hover {
   border-bottom: 2px solid rgb(14, 177, 119);
}
.headercomponent [ data-aue-prop="nav6_label" ] {
   font-weight: bold;
  
    font-family: Mission Gothic, Arial, Verdana, Tahoma, sans-serif;
    font-size: 0.9rem;
    
}
.headercomponent [ data-aue-prop="nav6_label" ]:hover {
   border-bottom: 2px solid rgb(241, 132, 36);
}
.headercomponent [ data-aue-prop="nav7_label" ] {
   font-weight: bold;
  
    font-family: Mission Gothic, Arial, Verdana, Tahoma, sans-serif;
    font-size: 0.9rem;
    
}
.headercomponent [ data-aue-prop="nav7_label" ]:hover {
    border-bottom: 2px solid rgb(67, 51, 144);
}


.headercomponent [ data-aue-prop="search_placeholder" ] {
    cursor: pointer;
    margin-left: 106px;
    margin-bottom: -38px;
    margin-top: 57px;
    font-size: .875rem;
    font-weight: bold;
}

.headercomponent [ data-aue-prop="search_icon" ] {
   cursor: pointer;
    margin-left: 80px;
    margin-bottom: 42px;
}




.headercomponent a.button[ data-aue-prop="linkText" ] {
  background-color: white;
    color: black;
    font-size: 0.93rem;
    margin-left: -24px;
    overflow: visible;
    margin-top: 6px;
    
}

.headercomponent [ data-aue-prop="linkText" ]:before {

   content: "|";
    font-weight: 700;
    padding-left: 0;
    padding-right: 0;
    position: absolute;
      margin-top: 7px;
    transform: translateY(-50%);
    margin-left: -9px;
    
}

.headercomponent [ data-aue-prop="linkText" ]:after {
color: #161616;
    content: "|";
    font-weight: 700;
    padding-left: 0;
    padding-right: 0;
    position: absolute;
    margin-top: 7px;
    transform: translateY(-50%);
    margin-left: 5px;
}

.headercomponent [ data-aue-prop="Join_text" ] {

    color: #DD2121;
    margin-top: 55px;
    margin-left: 4px;
    font-weight: bold;
    margin-bottom: 22px;
    font-size: 0.9rem;
}

.headercomponent [ data-aue-prop="Join_icon" ] {

  margin-left: -23px;
    width: 59%;
    margin-right: 34px;
}

.headercomponent a.button[ data-aue-prop="another-extralinkText" ] {
color: #DD2121;
    margin-top: 47px;
    margin-left: -77px;
    font-weight: bold;
    margin-bottom: 60px;
    font-size: 0.9rem;
    background-color: transparent;
    overflow: visible;
  
   
}


/* Initially hide the search input */
.search-input {
    display: none;
    margin-left: 106px;
    margin-top: 10px;
    font-size: 1rem;
    padding: 5px;
}

/* Style for the cross icon */
.cross-icon {
    content: url('data:image/svg+xml;utf8,<svg fill="black" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M18.3 5.71a1 1 0 0 0-1.41 0L12 10.59 7.11 5.7a1 1 0 0 0-1.41 1.41L10.59 12l-4.89 4.89a1 1 0 1 0 1.41 1.41L12 13.41l4.89 4.89a1 1 0 0 0 1.41-1.41L13.41 12l4.89-4.89a1 1 0 0 0 0-1.4z"/></svg>');
}






