/* Initially hide nav items */
[data-aue-prop="nav1_item1_label"],
[data-aue-prop="nav1_item1_icon"],
[data-aue-prop="nav1_item2_label"],
[data-aue-prop="nav1_item2_icon"] {
    display: none;
}

/* Show nav items when parent has 'active' class */
.nav-dropdown-active [data-aue-prop="nav1_item1_label"],
.nav-dropdown-active [data-aue-prop="nav1_item1_icon"],
.nav-dropdown-active [data-aue-prop="nav1_item2_label"],
.nav-dropdown-active [data-aue-prop="nav1_item2_icon"] {
    display: block;
}


.headercomponent [data-aue-prop="logo"] {
  width: 80px;
}
